@import "~bootstrap/scss/bootstrap";
@import "./theme.scss";

$HEADER_HEIGHT: 60px;
$MENU_WIDTH: 230px;
$falconBodyColor : #5e6e82;
.App {
  text-align: center;
}

body, html,.App {
  height: 100%;
  color: $falcon-body-color;
}

.abn_car_main_container{
    background-color: $falcon-body-bg;
    height: 100%;
}

.main-container{
    display: flex;
    background-color: $falcon-body-bg;
    .abn-car-left-panel{
      min-width: $MENU_WIDTH;
      height: 100%;
      .navbar-top-brand {
        display: flex;
        flex-direction: column;
        .brand-icon-wrapper{
          height: $HEADER_HEIGHT;
          display: flex;
        }
        .brand-icon{
          width: 100px;
        }
        .navbar-collapse{
          width: 100%;
          align-items: self-start;
          .navbar-nav{
            width: 100%;
          }
        }
      }
    }
    .abn-car-right-panel{
      flex-direction: column;
      display: flex;
      width: 100%;
      .abn-car-right-header-paner{
        min-height: $HEADER_HEIGHT;
        justify-content: flex-end;
        display: flex;
        .navbar-nav-icons{
          list-style: none;
          display: flex;
          li{
            padding: 10px;
          }
        }
      }
    }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
